$blue1: #3bc1f4;
$blue2: #056fab;
$blue3: #0e226c;
$bluelink: #009add;
$pink: #d50076;
$red: #aa0a35;
$green: #4ca90c;
$error: #d23939;
$orange: #ef6f00;
$yellow: #fca915;
$gray1: #666;
$gray2: #333;
$lgray: #e5e5e5;